@{
    this.ViewData["Title"] = "Admin";
}

<p class="h1">Admin</p>
<div class="list-group">
    <a class="list-group-item list-group-item-action" asp-area="Administration" asp-controller="Admin" asp-action="AllImg">всички снимки</a>
    <a class="list-group-item list-group-item-action" asp-area="Administration" asp-controller="Admin" asp-action="MsgContactForm">Съобщения</a>
</div>

