@model List<SocialMedia.Data.ChatRooms>
@{ this.ViewBag.Title = "Chat"; }



<style>

    .chat-room-div {
        border: 5px solid black;
        border-radius: 4px;
        overflow:auto;
        max-width: 950px;
        max-height: 700px;
        min-width: 950px;
        min-height: 700px;
        position:relative;
    }
    #message-holder {
        bottom: 0;
        position: absolute
    }

    #message-holder input{
       width:500px !important;
    }

   /* hr {
        bottom: 100px;
        position: absolute
    }*/
</style>

<h1>@this.ViewBag.Title</h1>
<div class="container chat-room-div">



    <div id="messagesList" style="font-size: 28px;">
        @foreach (var item in Model)
        {
<div><a asp-controller="Profil" asp-action="OpenProfil" asp-route-id="@item.ProfilId">[@item.Profil.UserName]:</a> @item.Content</div>}
    </div>
    <hr style="height: 5px;" class="bg-dark" />
    <div id="message-holder" class="mt-3 d-flex justify-content-start">
        <h4>Message</h4>
        <input class="w-75 ml-4 pl-3" type="text" id="messageInput" placeholder="Message..." />
        <button id="sendButton" class="ml-4 btn btn-dark btn-lg">Send</button>
    </div>
</div>

@section Scripts {
    <script>
        var e = document.getElementsByClassName("chat-room-div")[0];
        console.log(e)
        //e.scrollTop = e.scrollHeight;
        var connection =
            new signalR.HubConnectionBuilder()
                .withUrl("/chatter")
                .build();

        connection.on("NewMessage",
            function (message) {
                var chatInfo = `<div><a href="/Profil/OpenProfil/${message.profilId}">[${message.user}]:</a> ${escapeHtml(message.text)}</div>`;
                $("#messagesList").append(chatInfo);
                e.scrollTop = e.scrollHeight;
            });

        $("#sendButton").click(function () {
            var message = $("#messageInput").val();
            connection.invoke("Send", message);
            $("#messageInput").val("");
        });

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });

        function escapeHtml(unsafe) {
            return unsafe
                .replace(/&/g, "&amp;")
                .replace(/</g, "&lt;")
                .replace(/>/g, "&gt;")
                .replace(/"/g, "&quot;")
                .replace(/'/g, "&#039;");
        }</script>
}